* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}


.mario-bros {
   height: 600px;
}

button {
   color: white;
   font-size: 15px;
   background-color: #E50914;
   border-radius: 8px;
   border: none;
   width: 200px;
   height: 50px;
   cursor: pointer;
   font-weight: bold;
   letter-spacing: 0.7px;
   margin-top: 20px;
}

.botao-entre-contato:hover {
   height: 55px;
   width: 220px;
   font-size: 17px;
   transition: 0.2s ease-in-out;
}

.logo-mario {
   height: 200px;
   margin-bottom: 30px;
   margin-right: 40px;
}

body {
   height: 100vh;
}

.caixa-mae {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 80px;
   height: 100vh;
}

.caixa-principal {
   width: 40%;
}

.caixa-video {
   position: fixed;
   z-index: -1;
   top: 0;
}

p {
   color: white;
   font-size: 20px;
   line-height: 32px;
}

video {
   min-height: 100%;
   min-width: 100%;
   position: fixed;
   top: 0;
}

.mascara {
   height: 100vh;
   width: 100vw;
   background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
   position: fixed;
   top: 0;

}

.link-whatsapp img {
   height: 70px;
   position: fixed;
   right: 20px;
   bottom: 20px;
}

.link-whatsapp img:hover {
   height: 75px;
   transition: 0.2s ease-in-out;
}

.header {
   display: flex;
   align-items: center;
   gap: 30px;
   margin: 30px;
}

.header img {
   height: 80px;

}

.header a {
   color: white;
   font-size: 24px;
   cursor: pointer;
}

.header a:hover {
   color: #E50914;
   font-size: 25px;
   transition: 0.3s ease-in-out;
}

.formulario-fale-conosco {
   background: linear-gradient(315deg, rgba(24, 24, 24, 1) 0%, rgba(19, 19, 19, 1) 100%);
   display: flex;
   gap: 20px;
   flex-direction: column;
   position: fixed;
   top: 30%;
   left: -144px;
   padding: 20px;
   padding-top: 4px;
   border-radius: 15px;
   border: 1px solid #323232;
   z-index: 1;
   transition: left 1s ease-in-out;
   transform: translateX(-50%);
}

input {
   color: white;
   height: 35px;
   background-color: #151515;
   border-radius: 5px;
   border: 1px solid #181818;
   padding-left: 10px;
}

textarea {
   color: white;
   background-color: #151515;
   width: 270px;
   height: 100px;
   border-radius: 10px;
   border: 1px solid #181818;
   padding-left: 10px;
   padding-top: 10px;
}

.orcamento {
   margin-left: 34px;
}


.mascara-formulario {
   visibility: hidden;
   position: fixed;
   top: 0;
   width: 100vw;
   height: 100vh;
   background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
   transition: visibility 1s ease-in-out;
}

form h1 {
   color: #f4f4f4;
   font-size: 12px;
   margin-left: 98%;
   margin-top: 4px;
   cursor: pointer;
}

/* Media Query */

@media(max-width:1100px) {
   p {
      display: none;
   }

   .caixa-mae {
      flex-direction: column;
      padding: 10px;
      justify-content: flex-start;
   }

   .caixa-principal {
      display: flex;
      align-items: center;
      flex-direction: column;
   }

   .logo-mario {
      margin-left: 40px;
   }

   .botao-entre-contato {
      margin-bottom: 40px;
   }

   .mario-bros {
      width: 90vw;
      height: auto;
   }

   .header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
   }

   .header img {
      display: none;
   }

   .header a {
      font-size: 18px;
   }

   .link-whatsapp img {
      height: 50px;
   }
}

@media(max-width:380px) {
   .header a {
      font-size: 15px;
   }

   .logo-mario {
      margin-left: 40px;
   }

   .link-whatsapp img {
      height: 50px;
   }

}